<div class="row relt-box">
    <div class="relt-title">
        <h3>Capacidade de carga da fundação</h3>
    </div>
    <div class="root-container">
        <div class="col-lg-3">
            <div class="left-container vertical-middle left">
                <key>
                    L
                    <idx>r</idx>
                </key>
                = 0,8 . H</div>
        </div>
    </div>
    <div class="root-container">
        <div class="col-lg-3">
            <div class="left-container vertical-middle left">
                <key class="size-2">
                    𝜎
                    <idx>z,b</idx>
                </key>=</div>
            <div class="left">
                <div class="top">𝛾 . H</div>
                <div class="bottom ">
                    <div class="left-container vertical-middle left">1 -</div>
                    <div class="left">
                        <div class="top">
                            <key>
                                K
                                <idx>a</idx>
                            </key>
                        </div>
                        <div class="bottom ">3</div>
                    </div>
                    <div class="right-container vertical-point-middle m-r-5 left">.</div>
                    <div class="left">
                        <div class="top">H</div>
                        <div class="bottom ">
                            <key>
                                L
                                <idx>r</idx>
                            </key>²</div>
                    </div>
                </div>
            </div>
            <div class="right-container vertical-point-middle left">.</div>
            <div class="right-container vertical-middle left">FS</div>
        </div>
    </div>
    <div class="root-container">
        <div class="col-lg-3">
            <div class="left-container vertical-middle left">e = </div>
            <div class="left">
                <div class="top">
                    <key>
                        K
                        <idx>a</idx>
                    </key> . H²
                </div>
                <div class="bottom">6 . Lr</div>
            </div>
            <div class="right-container vertical-point-middle left">.</div>
        </div>
    </div>
    <div class="root-container">
        <div class="col-lg-3">
            <div class="left-container vertical-middle left">B' = Lr - (2 . e) </div>
        </div>
    </div>
    <div class="root-container">
        <div class="col-lg-4">
            <div class="left-container vertical-middle left">
                <key class="size-1">
                    f
                    <idx>qi</idx>
                </key>=
            </div>
            <div class="vertical-middle left">
                <large>[</large>
            </div>
            <div class="left-container vertical-middle left">
                1 -
            </div>
            <div class="left">
                <div class="top">
                    <key>
                        R
                        <idx>h</idx>
                    </key>
                </div>
                <div class="bottom">
                    <key>
                        R
                        <idx>v</idx>
                    </key>
                    + B' . c' . cotg∅'</div>
            </div>
            <div class="vertical-middle left">
                <large>]</large>
            </div>
            <div class="left-container left">²</div>
        </div>
    </div>
    <div class="root-container">
        <div class="col-lg-3">
            <div class="left-container vertical-middle left">
                <key>
                    f
                    <idx>𝛾i</idx>
                </key>
                = (
                <key class="size-1">
                    f
                    <idx>qi</idx>
                </key>)</div>
            <div class="vertical-top-middle left">
                <div class="left">
                    <div class="top">3</div>
                    <div class="bottom">2</div>
                </div>
            </div>
        </div>
    </div>
    <div class="root-container">
        <div class="col-lg-3">
            <div class="left-container vertical-middle left">
                <key class="size-1">
                    f
                    <idx>ci</idx>
                </key> =
                <key class="size-1">
                    f
                    <idx>qi</idx>
                </key>
                -</div>
            <div class="left">
                <div class="top">1 -
                    <key class="size-1">
                        f
                        <idx>qi</idx>
                    </key>
                </div>
                <div class="bottom">
                    <key class="size-1">
                        N
                        <idx>c</idx>
                    </key>. tg∅'
                </div>
            </div>
        </div>
    </div>
    <div class="root-container">
        <div class="col-lg-12">
            <div class="left-container vertical-middle left">
                <key class="size-2">
                    q
                    <idx>lim</idx>
                </key>
                = 𝛾 . D + c' .
                <key class="size-1">
                    N
                    <idx>c</idx>
                </key>
                .
                <key class="size-1">
                    f
                    <idx>ci</idx>
                </key> + 𝛾 . D . (
                <key class="size-1">
                    N
                    <idx>q</idx>
                </key> - 1) .
                <key class="size-1">
                    f
                    <idx>qi</idx>
                </key> +
            </div>
            <div class="left">
                <div class="top">1</div>
                <div class="bottom">2</div>
            </div>
            <div class="right-container vertical-point-middle left">.</div>
            <div class="right-container vertical-middle left">𝛾 . B'.
                <key class="size-1">
                    N
                    <idx>𝛾</idx>
                </key> .
                <key>
                    f
                    <idx>𝛾i</idx>
                </key>
            </div>
        </div>
    </div>
</div>