<div class="row relt-box">
    <div class="relt-title">
        <h3>Empuxo</h3>
    </div>
    <div class="root-container">
        <div class="col-lg-3">
            <div class="left-container vertical-middle left">
                E =
            </div>
            <div class="left">
                <div class="top">
                    1
                </div>
                <div class="bottom ">
                    2
                </div>
            </div>
            <div class="right-container vertical-middle left">
                . x . H²
            </div>
        </div>
    </div>
    <div class="root-container">
        <div class="col-lg-3">
            <div class="left-container vertical-middle left">
                <key>
                    K
                    <idx>a</idx>
                </key>
                =
            </div>
            <div class="left">
                <div class="top">
                </div>
                <div class="bottom ">
                </div>
            </div>
            <div class="right-container vertical-middle left reset">
                <div class="left-container vertical-middle left ">
                    tg² (45˚ -
                </div>
                <div class="left">
                    <div class="top">
                        ∅'
                    </div>
                    <div class="bottom ">
                        2
                    </div>
                </div>
                <div class="right-container vertical-middle left">
                    )
                </div>
            </div>
        </div>
    </div>

</div>