<div class="relt-title p-l-15 m-b-0">
    <h3>Fatores de segurança da resistência ao arrancamento</h3>
</div>
<div class="root-container formules-align p-l-28">
    <div>
        <div class="vertical-middle left">
            <key class="size-1">
                L
                <idx>e</idx>
            </key>=
            <key class="size-1">
                L
                <idx>r</idx>
            </key> - (H - z)
        </div>
        <div class="vertical-middle left">
            <large>[</large>
        </div>
        <div class="vertical-middle m-r-0 left">
            tg
        </div>
        <div class="left-container left">
            <div class="vertical-middle left">
                <large>(</large>
            </div>
            <div class="vertical-middle m-r-0 left">
                45˚ +
            </div>
            <div class="left">
                <div class="top">∅'</div>
                <div class="bottom">2</div>
            </div>
            <div class="left-container vertical-middle left">
                <large>)</large>
            </div>
        </div>
        <div class="left">
            <div class="top">- 1 </div>
            <div class="bottom">tg𝜔</div>
        </div>
        <div class="left-container vertical-middle left">
            <large>]</large>
        </div>
    </div>
    <div>
        <div class="left-container vertical-middle left">
            <key class="size-1">
                P
                <idx>r</idx>
            </key> = 2F* . 𝛼 .
            <key>
                𝜎
                <idx>v</idx>
            </key> .
            <key>
                L
                <idx>e</idx>
            </key>
        </div>
    </div>
    <div>
        <div class="left-container vertical-middle left">
            F* =
            <key>
                f
                <idx>a</idx>
            </key> . tg∅'
        </div>
    </div>
    <div>
        <div class="left-container vertical-middle left">
            FS =
        </div>
        <div class="left-container left">
            <div class="top">
                <key>
                    P
                    <idx>r</idx>
                </key>
            </div>
            <div class="bottom">
                <key>
                    T
                    <idx>máx</idx>
                </key>
            </div>
        </div>
    </div>
</div>