<div class="relt-title p-l-15 m-b-0">
    <h3>Estabilidade na conexão</h3>
</div>
<div class="root-container formules-align p-l-28">
    <div>
        <div class="left-container vertical-middle left">
            <key class="size-1">
                P
                <idx>r,o</idx>
            </key> = 2F* . 𝛼 .
            <key>
                𝜎
                <idx>z</idx>
            </key> .
            <key>
                L
                <idx>c</idx>
            </key> ≥ FS .
            <key>
                T
                <idx>o</idx>
            </key>
        </div>
    </div>
    <div>
        <div class="left-container vertical-middle left">
            <key class="size-1">
                P
                <idx>r,o</idx>
            </key> = CR .
            <key>
                T
                <idx>d</idx>
            </key> .
            <key>
                L
                <idx>c</idx>
            </key> ≥ FS .
            <key>
                T
                <idx>o</idx>
            </key>
        </div>
    </div>
</div>