<div class="root-container">
    <div class="col-lg-2">
        <div class="left-container vertical-middle left">
            <key class="size-1">
                𝜈
                <idx>o</idx>
            </key> =
        </div>
        <div class="left">
            <div class="top">
                <key class="size-1">
                    K
                    <idx>o</idx>
                </key>
            </div>
            <div class="bottom">1 +
                <key>
                    K
                    <idx>o</idx>
                </key>
            </div>
        </div>
    </div>
</div>
<div class="root-container">
    <div class="col-lg-4">
        <div class="left-container vertical-middle left">
            <key class="size-1">
                K
                <idx>o</idx>
            </key>= 1 - sen∅'
        </div>
    </div>
</div>
<div class="root-container">
    <div class="col-lg-5">
        <div class="vertical-middle left">
            <key class="size-1">
                N
                <idx>𝛾</idx>
            </key>= tg
        </div>
        <div class="vertical-middle left">
            <large>(</large>
        </div>
        <div class="vertical-middle m-r-0 left">
            45˚ +
        </div>
        <div class="left">
            <div class="top">∅'</div>
            <div class="bottom">2</div>
        </div>
        <div class="left-container vertical-middle left">
            <large>)</large>
        </div>
        <div class="left-container left">
            <div class="left-container vertical-middle left">
                <large>[</large>
            </div>
            <div class="left-container vertical-middle left">
                <key class="size-1">
                    tg
                    <sup>4</sup>
                </key>
            </div>
            <div class="left-container left">
                <div class="vertical-middle left">
                    <large>(</large>
                </div>
                <div class="vertical-middle m-r-0 left">
                    45˚ +
                </div>
                <div class="left">
                    <div class="top">∅'</div>
                    <div class="bottom">2</div>
                </div>
                <div class="left-container vertical-middle left">
                    <large>)</large>
                </div>
                <div class="vertical-middle left"> - 1</div>
            </div>
            <div class="vertical-middle m-r-0 left">
                <large>]</large>
            </div>
        </div>
    </div>
</div>