<div class="root-container formules-align p-l-28">
    <div>
        <div class="left-container m-t-31 left">
            𝛽 =</div>
        <div class="left">
            <div class="top adjust-top">
                <div class="left-container vertical-middle left">
                    <large>(</large>
                </div>
                <div class="left-container left">
                    <div class="top">
                        <key class="size-3">
                            𝜎'
                            <idx>zc</idx>
                        </key>
                    </div>
                    <div class="bottom ">
                        <key class="size-3">
                            P
                            <idx>a</idx>
                        </key>
                    </div>
                </div>
                <div class="left-container vertical-middle m-r-0 left">
                    <large>)</large>
                </div>
                <div class="left-container left">ⁿ</div>
            </div>
            <div class="bottom adjust-bottom ">
                <key>
                    S
                    <idx>i</idx>
                </key>
            </div>
        </div>
    </div>
    <div>
        <div class="left-container vertical-middle left">
            <key>
                S
                <idx>i</idx>
            </key> =
        </div>
        <div class="left">
            <div class="top">
                <key class="size-1">
                    J
                    <idx>r</idx>
                </key>
            </div>
            <div class="bottom">K .
                <key class="size-1">
                    P
                    <idx>a</idx>
                </key>.
                <key>
                    S
                    <idx>v</idx>
                </key>
            </div>
        </div>
    </div>
    <div>
        <div class="left-container vertical-middle left">
            <key class="size-3">
                T
                <idx>máx</idx>
            </key> = X .
            <key class="size-1">
                S
                <idx>v</idx>
            </key>.
            <key class="size-1">
                S
                <idx>n</idx>
            </key>.
            <key class="size-1">
                𝜎'
                <idx>zc</idx>
            </key>
        </div>
    </div>
</div>