<div class="root-container">
    <div class="col-lg-4">
        <div class="left-container vertical-middle left">
            <key class="size-2">
                𝜎'
                <idx>z</idx>
            </key>=</div>
        <div class="left">
            <div class="top">𝛾 . H</div>
            <div class="bottom ">
                <div class="left-container vertical-middle left">1 -</div>
                <div class="left-container vertical-middle left">
                    <large>(</large>
                </div>
                <div class="left">
                    <div class="top">
                        <key class="size-1">
                            K
                            <idx>a</idx>
                        </key>
                    </div>
                    <div class="bottom ">3</div>
                </div>
                <div class="vertical-middle left">
                    <large> )</large>
                </div>
                <div class="vertical-middle left">.</div>
                <div class="left-container vertical-middle left">
                    <large>(</large>
                </div>
                <div class="left">
                    <div class="top">
                        Z
                    </div>
                    <div class="bottom ">
                        <key>
                            L
                            <idx>r</idx>
                        </key>
                    </div>
                </div>
                <div class="right-container vertical-middle left">
                    <large>)</large>
                </div>
                <div class="left-container left">²</div>
            </div>
        </div>
        <div class="right-container vertical-point-middle left">.</div>
        <div class="right-container vertical-middle left">
            <key>
                Z
                <idx>eq</idx>
            </key>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="left-container vertical-middle left">
            <key class="size-3">
                𝜎'
                <idx>zc,i</idx>
            </key>=</div>
        <div class="left">
            <div class="top">Q</div>
            <div class="bottom">B . L</div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="left-container vertical-middle left">
            <key class="size-3">
                𝜎'
                <idx>zc,i</idx>
            </key>=
        </div>
        <div class="left-container vertical-middle m-r-0 left">
            (1 - v) . (1 .
            <key class="size-1">
                K
                <idx>a</idx>
            </key>)
        </div>
        <div class="left-container left">
            <div class="root-calc ">
                <div class="inner-root adjust-inner-root">
                    <div class="left-container vertical-middle left">
                        <large>(</large>
                    </div>
                    <div class="left-container left">
                        <div class="top">
                            1
                        </div>
                        <div class="bottom ">
                            2
                        </div>
                    </div>
                    <div class="left-container left">
                        𝛾'
                    </div>
                    <div class="left-container vertical-middle m-r-0 left">
                        <large>)</large>
                    </div>
                    <div class="vertical-point-middle left">.</div>
                    <div class="left-container vertical-middle left">
                        <large>(</large>
                    </div>
                    <div class="left-container left">
                        <div class="top">
                            Q .
                            <key>
                                N
                                <idx>𝛾</idx>
                            </key>
                        </div>
                        <div class="bottom ">
                            L
                        </div>
                    </div>
                    <div class="left-container vertical-middle m-r-0 left">
                        <large>)</large>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>