<div class="relative images">
    <span class="vector-1 relative">
        <span class="geossintetico">geossintetico</span>
    <span class="face">face</span>
    <span class="barbaca">barbaca</span>
    <span class="aterro">aterro</span>
    <span class="terreno">terreno</span>
    <img src="../source/assets/image/vetor1.png" />
    </span>
    <span class="vector-2 relative">
            <span class="geossintetico">geossintetico</span>
    <span class="terraVegetal">terra Vegetal com ou sem geocelula</span>
    <span class="aterro">aterro</span>
    <span class="terreno">terreno</span>
    <img src="../source/assets/image/vetor2.png" />
    </span>
</div>