<div class="row relt-box">
    <div class="relt-title">
        <h3>Segunda Interação</h3>
    </div>
    <div class="root-container">
        <table class="table table-bordered custom-table">
            <thead>
                <tr>
                    <th>Camada de Reforço</th>
                    <th>Prof. (z) (m)</th>
                    <th>Compr. dos reforços (Lr) (m)</th>
                    <th>Mod. rigidez tração (Jr) (m)</th>
                    <th>Si (kPa)</th>
                    <th>Tensão vert. (𝜎'z)(kPa)</th>
                    <th>Tensão de compac. (𝜎'zci) (kPa)</th>
                    <th>Tensão vert. atuante (𝜎'zc) (kPa)</th>
                    <th>
                        <div class="left">
                            <div class="top">
                                𝜎'z
                            </div>
                            <div class="bottom ">
                                𝜎'zc
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="left">
                            <div class="top">
                                𝜎'z
                            </div>
                            <div class="bottom ">
                                𝜎'zc adotado
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="left">
                            <div class="top">
                                c
                            </div>
                            <div class="bottom ">
                                𝜎'zc
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="left">
                            <div class="top">
                                c
                            </div>
                            <div class="bottom ">
                                𝜎'zc adotado
                            </div>
                        </div>
                    </th>
                    <th>𝛽</th>
                    <th>𝛽 adotado</th>
                    <th>X ábaco</th>
                    <th>
                        <key class="size-3">
                            T
                            <idx>máx</idx>
                        </key>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in resultData.segundaInteracao">
                    <td>{{::result.camada}}</td>
                    <td>{{::result.z}}</td>
                    <td>{{round(result.lr)}}</td>
                    <td>{{round(result.jr)}}</td>
                    <td>{{round(result.si)}}</td>
                    <td>{{round(result.tensaoVertical)}}</td>
                    <td>{{round(result.compactacao)}}</td>
                    <td>{{round(result.tensaoAtuante)}}</td>
                    <td>{{round(result.relacaoTensao)}}</td>
                    <td>{{round(result.relacaoTensaoAdotado)}}</td>
                    <td>{{round(result.relacaoCoesao)}}</td>
                    <td>{{round(result.relacaoCoesaoAdotada)}}</td>
                    <td>{{round(result.beta)}}</td>
                    <td>{{round(result.betaAdotado)}}</td>
                    <td>{{round(result.abaco)}}</td>
                    <td>{{round(result.tmax)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>