<div class="row relt-box">
    <div class="relt-title">
        <h3>1ª Interação</h3>
    </div>
    <div class="root-container">
        <table class="table table-bordered custom-table">
            <thead>
                <tr>
                    <th>Camada de Reforço</th>
                    <th>Prof. (z)(m)</th>
                    <th>Compr. dos reforços (Lr)(m)</th>
                    <th>Si (kPa)</th>
                    <th>Tensão vert. (𝜎'z)</th>
                    <th>Tensão de compac. (𝜎'zci)</th>
                    <th>Tensão vert. atuante (𝜎'zc)</th>
                    <th>
                        <div class="left">
                            <div class="top">
                                𝜎'z
                            </div>
                            <div class="bottom ">
                                𝜎'zc
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="left">
                            <div class="top">
                                𝜎'z
                            </div>
                            <div class="bottom ">
                                𝜎'zc adotado
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="left">
                            <div class="top">
                                c
                            </div>
                            <div class="bottom ">
                                𝜎'zc
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="left">
                            <div class="top">
                                c
                            </div>
                            <div class="bottom ">
                                𝜎'zc adotado
                            </div>
                        </div>
                    </th>
                    <th>𝛽</th>
                    <th>𝛽 adotado</th>
                    <th>X ábaco</th>
                    <th>
                        <key class="size-3">
                            T
                            <idx>max</idx>
                        </key>
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>