<div class="row relt-box" ng-if="calculated">
    <div class="relt-title">
        <h3>Fatores de segurança da resistência ao arrancamento</h3>
    </div>
    <div class="root-container">
        <table class="table table-bordered custom-table">
            <thead>
                <tr>
                    <th>Camada de reforço</th>
                    <th>Prof. (z) (m)</th>
                    <th>Compr. de embutimento (Le) (m)</th>
                    <th>Tensão vert. atuante (𝜎'z) (kPa)</th>
                    <th>Resistência ao arrancamentos (Pr) (kN/m)</th>
                    <th>Tração máxima
                        <key class="size-3">
                            (T
                            <idx>máx</idx>
                        </key>) (kN/m)</th>
                    <th>F.S.</th>
                    <th>Verificação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in resultData.fsArrancamento">
                    <td>{{::result.camada}}</td>
                    <td>{{::result.z}}</td>
                    <td>{{round(result.le)}}</td>
                    <td>{{round(result.tensaoVertical)}}</td>
                    <td>{{round(result.resistenciaArrancamento)}}</td>
                    <td>{{round(result.tmax)}}</td>
                    <td>{{round(result.fs)}}</td>
                    <td>
                        <text class="red" ng-if="!result.verificacao">
                            Redimensionar 
                        </text>
                        <text class="green" ng-if="result.verificacao">
                            OK 
                        </text>
                </tr>
            </tbody>
        </table>
    </div>
</div>