<div class="row relt-box">
    <div class="relt-title">
        <h3>Tensões na base</h3>
    </div>
    <div class="root-container">
        <div class="col-lg-3 col-md-3">
            <div class="left-container vertical-middle left">
                <key>
                    L
                    <idx>r</idx>
                </key>
                ≥
            </div>
            <div class="root-calc left">
                <div class="top">
                    <span class="inner-root">
                        <key class="size-1">
                            K
                            <idx>a</idx>
                        </key> . H²
                    </span>
                </div>
                <div class="bottom ">
                    6 . FS
                </div>
            </div>
        </div>
        <div ng-if="calculated">
            <div class="col-lg-3 col-md-3">
                <div class="left-container vertical-middle left">
                    <key>
                        L
                        <idx>r</idx>
                    </key>
                    ≥
                </div>
                <div class="root-calc left">
                    <div class="top">
                        <div class="inner-root">
                            {{round(core.resultData.ka)}} . {{round(Math.pow(core.resultData.h, 2))}}
                        </div>
                    </div>
                    <div class="bottom ">
                        6 . {{round(core.tensoesBase.getFs())}}
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 result">
                <div class="left-container vertical-middle left">
                    <key>
                        L
                        <idx>r</idx>
                    </key>
                    ≥ = {{round(core.resultData.tensoesBase)}}
                </div>
            </div>
        </div>
    </div>
</div>