<div class="row relt-box">
    <div class="relt-title">
        <h3>Tombamento</h3>
    </div>
    <div class="root-container">
        <div class="col-lg-3">
            <div class="left-container vertical-middle left">
                <key>
                    L
                    <idx>r</idx>
                </key>
                ≥
            </div>
            <div class="root-calc left">
                <div class="top">
                    <span class="inner-root">FS .
                        <key class="size-1">
                            K
                            <idx>a</idx>
                        </key> . H²
                    </span>
                </div>
                <div class="bottom ">
                    tg∅'
                </div>
            </div>
            <div class="right-container vertical-middle left">
            </div>
        </div>
    </div>
</div>