<!DOCTYPE html>
<html>

<head>
    <script>
        window._require = require;
        window._exports = window.exports;
        window._module = window.module;
        delete window.require;
        delete window.exports;
        delete window.module;
    </script>
    <link href="assets/css/entypo.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/mouldifi-core.css" rel="stylesheet">
    <link href="assets/css/mouldifi-forms.css" rel="stylesheet">
    <title>ESRG</title>
</head>

<body ng-app="esrgApp" ng-controller="EsrgController" ng-init="init()">
    <div class="page-container">
        <div class="main-container">
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-2">
                        <div ng-repeat="obj in data track by $index">
                            <h3>{{::obj.title}}</h3>
                            <div class="form-group" ng-repeat="input in obj.inputs track by $index">
                                <label for="emailaddress">{{::input.label}}</label>
                                <div>
                                    {{::input.symbol}}
                                    <input type="email" class="form-control" ng-model="input.value" placeholder="{{::input.label}}">{{::input.um}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        Left
                    </div>
                </div>

                <footer class="footer-main">
                    © 2017 <strong>ESRG</strong> Created by <a href="javascript:void(0)">Ana Carolina Zuchetto</a>
                </footer>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript " src="assets/js/global.js "></script>
    <script type="text/javascript " src="assets/js/angular/app.js "></script>
    <script type="text/javascript " src="assets/js/angular/controller/esrgController.js "></script>
</body>

</html>