<!DOCTYPE html>
<html ng-app="esrgApp">

<head>
    <meta charset="UTF-8">
    <link href="assets/css/entypo.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/mouldifi-core.css" rel="stylesheet">
    <link href="assets/css/mouldifi-forms.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">
    <title>{{::CONSTANTS.APP_NAME}}</title>
    <script>
        window._require = require;
        window._exports = window.exports;
        window._module = window.module;
        delete window.require;
        delete window.exports;
        delete window.module;
    </script>
    <style>
         ::selection {
            background: white;
        }
    </style>
</head>

<body ng-controller="EsrgController" ng-init="init()">
    <div class="overflow-loader" ng-show="inLoading">
        <div class="loader"></div>
    </div>
    <div class="page-container" ng-class="(isPrinting) ? 'printing' : ''">
        <div class="page-sidebar">
            <form id="calcForm" name="calcForm">
                <div ng-repeat="obj in data track by $index">
                    <h4>{{::obj.title}}</h4>
                    <div class="form-group relative" ng-repeat="input in obj.inputs track by $index">
                        <div ng-switch="input.layout">
                            <div ng-switch-when="multi" class="flex">
                                <div ng-repeat="inpt in input.inputs track by $index">
                                    <input type="number" class="form-control" ng-model="inpt.value" equired="{{input.required}}" placeholder="" ng-change="inputChange()">
                                    <div ng-if="$index < (input.inputs.length - 1)" class="multiply">x</div>
                                </div>
                            </div>
                            <div ng-switch-default>
                                <div ng-if="!input.hide">
                                    <label>{{::input.label}}</label>
                                    <span ng-if="!isEmpty(input.info)" class="info">i</span>
                                    <div class="info-view">
                                        <ul>
                                            <li ng-repeat="info in input.info">{{::info}}</li>
                                        </ul>
                                    </div>
                                    <div ng-switch="input.type">
                                        <div ng-switch-when="number">
                                            <div class="input-adjust">
                                                <span class="symbol" ng-if="input.symbol">{{::input.symbol}}&nbsp;=&nbsp;</span>
                                                <input type="number" class="form-control" ng-model="input.value" ng-required="input.required" ng-disabled="input.disabled" ng-change="inputChange()">
                                                <span class="um" ng-if="input.um">{{::input.um}}</span>
                                            </div>
                                        </div>
                                        <div ng-switch-when="select" class="input-adjust">
                                            <span class="symbol" ng-if="input.symbol">{{::input.symbol}}&nbsp;=&nbsp;</span>
                                            <select class="form-control" ng-model="input.value" ng-change="inputChange()" ng-required="input.required">
                                                <option ng-repeat="option in input.options" ng-if="!option.hide"  value="{{option.value}}">{{option.label}}</option>
                                            </select>
                                            <span class="um" ng-if="input.um">{{::input.um}}</span>
                                        </div>
                                        <div ng-switch-when="checkbox">
                                            <input type="checkbox" class="form-control input-check" ng-model="input.value" placeholder="" ng-change="inputChange()">
                                        </div>
                                        <div ng-switch-when="text">
                                            <div class="input-adjust">
                                                <input type="text" class="form-control" ng-required="input.required" ng-model="input.value" placeholder="" ng-change="inputChange()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-primary w-100" ng-click="calc()">Calcular</button>
        </div>
        <div class="main-container">
            <div class="main-content">
                <div class="row">
                    <h2 class="center reset bold">Dados de entrada</h2>
                </div>
                <div class="row">
                    <div ng-repeat="obj in data track by $index">
                        <div class="left inserted-data">
                            <h5 class="bold">{{::obj.title}}</h5>
                            <div ng-repeat="input in obj.inputs track by $index">
                                <div ng-switch="input.layout">
                                    <div ng-switch-when="multi" class="flex">
                                        <span ng-repeat="inpt in input.inputs track by $index">
                                            {{inpt.value}}
                                            <span ng-if="$index < (input.inputs.length - 1)">x</span>
                                        </span>cm
                                    </div>
                                    <div ng-switch-default>
                                        <div ng-switch="input.type">
                                            <div ng-switch-when="checkbox">
                                                <light>{{::input.label}} =</light>
                                                <span ng-if="input.value">Sim</span>
                                                <span ng-if="!input.value">Não</span>
                                            </div>
                                            <div ng-switch-when="select" ng-if="input.value">
                                                <light>{{::input.label}} =</light> {{_.find(input.options, {"value" : input.value}).label}}
                                            </div>
                                            <div ng-switch-default>
                                                <span ng-if="input.value">
                                                    <light>{{::input.label}} =</light> {{input.value}}{{::input.um}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="calculated">
                    <div class="row p-30">
                        <h2 class="center reset bold">Estabilidade Externa</h2>
                    </div>
                    <html-include src="templates/empuxo.html"></html-include>
                    <html-include src="templates/deslizamento.html"></html-include>
                    <html-include src="templates/tombamento.html"></html-include>
                    <html-include src="templates/tensoes.html"></html-include>
                    <html-include src="templates/capacidadeCarga.html"></html-include>
                    <html-include src="templates/resumoEstabilidadeExterna.html"></html-include>
                    <div class="row p-30">
                        <h2 class="center reset bold">Estabilidade Interna</h2>
                    </div>
                    <html-include src="templates/formulasTable1Line1.html"></html-include>
                    <html-include src="templates/formulasTable1Line2.html"></html-include>
                    <html-include src="templates/formulasTable1Line3.html"></html-include>
                    <html-include src="templates/table1.html"></html-include>
                    <html-include src="templates/table2.html"></html-include>
                    <html-include src="templates/formulasTable3.html"></html-include>
                    <html-include src="templates/table3.html"></html-include>
                    <html-include src="templates/formulasTable4.html"></html-include>

                    <div class="row">
                        <button ng-show="!isPrinting && calculated" class="btn btn-primary adjust-button" ng-click="printPdf()">Print</button>
                    </div>
                </div>
                <footer class="footer-main">
                    {{::CONSTANTS.COPYRIGHT}}
                </footer>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript " src="assets/js/core.js"></script>
    <script type="text/javascript " src="assets/js/control.js"></script>
    <script type="text/javascript " src="assets/js/calc/empuxo.js"></script>
    <script type="text/javascript " src="assets/js/calc/deslizamento.js"></script>
    <script type="text/javascript " src="assets/js/calc/tombamento.js"></script>
    <script type="text/javascript " src="assets/js/calc/tensoesBase.js"></script>
    <script type="text/javascript " src="assets/js/calc/capacidadeCarga.js"></script>
    <script type="text/javascript " src="assets/js/calc/estabilidadeInterna.js"></script>
    <script type="text/javascript " src="assets/js/calc/estabilidadeConexao.js"></script>
    <script type="text/javascript " src="assets/js/angular/app.js"></script>
    <script type="text/javascript " src="assets/js/angular/controller/esrgController.js"></script>
    <script type="text/javascript " src="assets/js/angular/directive/includeDirective.js"></script>
</body>

</html>