<!DOCTYPE html>
<html ng-app="esrgApp">

<head>
    <meta charset="UTF-8">
    <link href="assets/css/entypo.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/mouldifi-core.css" rel="stylesheet">
    <link href="assets/css/mouldifi-forms.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">
    <title>{{::CONSTANTS.APP_NAME}}</title>
    <script>
        window._require = require;
        window._exports = window.exports;
        window._module = window.module;
        delete window.require;
        delete window.exports;
        delete window.module;
    </script>
    <style>
         ::selection {
            background: white;
        }
    </style>
</head>

<body ng-controller="EsrgController" ng-init="init()">
    <div class="overflow-loader" ng-show="inLoading">
        <div class="loader"></div>
    </div>
    <div class="page-container" ng-class="(isPrinting) ? 'printing' : ''">
        <div class="page-sidebar">
            <div ng-repeat="obj in data track by $index">
                <h4>{{::obj.title}}</h4>
                <div class="form-group relative" ng-repeat="input in obj.inputs track by $index">
                    <div ng-switch="input.layout">
                        <div ng-switch-when="multi" class="flex">
                            <div ng-repeat="inpt in input.inputs track by $index">
                                <input type="number" class="form-control" ng-model="inpt.value" placeholder="">
                                <div ng-if="$index < (input.inputs.length - 1)" class="multiply">x</div>
                            </div>
                        </div>
                        <div ng-switch-default>
                            <div ng-if="!input.hide">
                                <label>{{::input.label}}</label>
                                <span ng-if="!isEmpty(input.info)" class="info">i</span>
                                <div class="info-view">
                                    <ul>
                                        <li ng-repeat="info in input.info">{{::info}}</li>
                                    </ul>
                                </div>
                                <div ng-switch="input.type">
                                    <div ng-switch-when="number">
                                        <div class="input-adjust">
                                            <span class="symbol" ng-if="input.symbol">{{::input.symbol}}&nbsp;=&nbsp;</span>
                                            <input type="number" class="form-control" ng-model="input.value" ng-disabled="input.disabled" placeholder="">
                                            <span class="um" ng-if="input.um">{{::input.um}}</span>
                                        </div>
                                    </div>
                                    <div ng-switch-when="select" class="input-adjust">
                                        <span class="symbol" ng-if="input.symbol">{{::input.symbol}}&nbsp;=&nbsp;</span>
                                        <select class="form-control" ng-model="input.value">
                                            <option ng-repeat="option in input.options" ng-if="!option.hide" value="{{option.value}}">{{option.label}}</option>
                                        </select>
                                        <span class="um" ng-if="input.um">{{::input.um}}</span>
                                    </div>
                                    <div ng-switch-when="checkbox">
                                        <input type="checkbox" class="form-control input-check" ng-model="input.value" placeholder="">
                                    </div>
                                    <div ng-switch-when="text">
                                        <div class="input-adjust">
                                            <input type="text" class="form-control" ng-model="input.value" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="main-content">
                <div class="main-header row">
                    <h2 class="center reset bold">Estabilidade Externa</h2>
                </div>
                <html-include src="templates/empuxo.html"></html-include>
                <html-include src="templates/deslizamento.html"></html-include>
                <html-include src="templates/tombamento.html"></html-include>
                <html-include src="templates/tensoes.html"></html-include>
                <html-include src="templates/capacidadeCarga.html"></html-include>
                <button ng-show="!isPrinting" ng-click="printPdf()">Print</button>

                <footer class="footer-main">
                    {{::CONSTANTS.COPYRIGHT}}
                </footer>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript " src="assets/js/core.js "></script>
    <script type="text/javascript " src="assets/js/angular/app.js "></script>
    <script type="text/javascript " src="assets/js/angular/controller/esrgController.js "></script>
    <script type="text/javascript " src="assets/js/angular/directive/includeDirective.js "></script>
</body>

</html>